
body {
    background-image: url('../../static/images/periodical_index.jpeg');
    background-position: inherit;
    margin: 0px;
    background-color: #7b8a95f2;
}

#header {
    background-image: initial;
    background-color: rgb(52, 54, 53);
    width: 100%;
    height: 35px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: stretch;
}

#leftHeader {
    float: left;
    padding: 4px 6px 0px;
    width: 52%;
    display: flex;
    justify-content: space-between;
}

.leftRightWrapper {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.rightHeader {
    float: right;
    text-align: center;
    margin-right: 10px;
    color: wheat;
    padding: 6px 6px 0px;
    width: 30%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: stretch;
    justify-content: space-evenly;
    align-items: baseline;
}

.head_wrapper {
    width: 10%;
}

.rightHeader.admin_header {
    width: 360px;
}

.locale {
}

#login {
    width: 30px;
}

a:link, a:visited {
    color: #ffffff;
}

a:hover {
    color: lightgrey;
}

a {
    text-decoration: none;
}

.col-custom {
    background-color: #cbcbd5;
    margin: 5px;
    border-radius: 5px;
    border: black 1px solid;
}

.col-custom-index {
    max-width: 19.1% !important;
}

.col-custom-cabinet {
    max-width: 15.7% !important;
}

.col-active {
    background-color: #9a7264;
}

.row {
    margin: 5px;
    border: black 1px solid;
    border-radius: 5px;
    background-color: #e1dfdd;
    padding: 10px;
}

.theme-name {
    width: 100%;
    text-align: center;
}

.main-container {
    width: 100%;
    justify-content: center;
    display: flex;
    height: 100%;
}

.main-container.user {
    padding-top: 20px;
}

.wrapper {
    width: 1165px;
    background-color: white;
    padding-bottom: 15px;
}

.settings_sub_button {
    padding-top: 40px;
}

.wrapper-cabinet {
    margin-top: -20px;
    padding-bottom: 400px;
}

.wrapper-cabinet.admin {
    margin-top: 0px;
    padding-bottom: 400px;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 1300px;
    background-color: burlywood;
}

table.table.table-bordered.table_custom {
    background-color: #627a97;
}

#make_order {
    margin-bottom: 0px;
}

.page_bar {
    width: 100%;
    text-align: center;
}

.active {
    color: #1c1c9a !important;
}

.disabled {
    color: currentColor;
    cursor: not-allowed;
    opacity: 0.5;
    text-decoration: none;
}

a.disabled {
    pointer-events: none;
}

.sorting {
    width: 100%;
    margin: 5px;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    align-content: stretch;
    justify-content: space-between;
    align-items: center;
}

.theme-name h3 {
    padding: 0px;
    margin: 0px;
}

.dropdown-custom {
    float: right;
}

.dropdown-filtering {
    float: left;
}

.container_by_themes {
    margin-top: 30px;
}

.subscription_submit {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: stretch;
    align-items: center;
}

.login_form {
    padding-top: 100px;
    display: flex;
    align-content: stretch;
    justify-content: space-evenly;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
}

.mag_image img {
    border-radius: 5px;
}

.mag_image {
    padding-top: 17px;
    padding-bottom: 17px;
}

.name {
    text-align: center;
    height: 70px;
}

.price {
    text-align: center;
}

.home {
    float: left;
    padding: 6px 11px 0px 19px;
    margin-top: -2px;
}

.dropdown_custom a.btn {
    font-size: 10px !important;
    padding: 3px;
    margin-top: -3px;
}

.dropdown-menu-custom.show {
    float: left;
    transform: translate3d(-15px, 23px, 0px) !important;
    min-width: 9rem;
}

form#settings_form {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center;
}

form#settings_form legend {
    text-align: center;
}

fieldset.settings_lang {
    padding-bottom: 14px;
}

.lang_select {
    width: 233px;
    font-size: 23px;
}

body div#error_wrapper {
    padding-top: 100px;
    display: flex;
    align-content: stretch;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: crimson !important;
}

.error {
    color: crimson;
    margin: 10px;
    font-size: 24px;
    background-color: black;
}

/*client-cabinet*/
.get_back {
    width: 400px;
    text-align: center
}

.get_back a {
    text-decoration: #005cbf underline;
    color: #005cbf;
}

.get_back_wrapper {
    display: flex;
    justify-content: center;
}

.search {
    /*padding-left: 234px;*/
}

.error_header {
    color: #c62e2e;
    padding-top: 3px;
}

.no_magazines {
    text-align: center;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.row.row-custom {
    height: 605px;
    margin-bottom: 30px;
}

.mags {
    width: 100%;
    display: flex;
    height: 383px;
}

.container.container_by_themes {
}